@model List<WebPage.Models.Produto>
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <div class="container">
            <div class="row">
                 <div class="col-02">
                    <h3 class="display-6" style="color:red">Projeto Não Terminado</h3>
                </div>
                <div class="col-8">
                    <h1 class="display-4">Em Estoque</h1>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label for="categ">Selecione Categoria</label>
                        <select class="form-control" id="categ">
                            <option value="1">Celular</option>
                            <option value="2">Moveis</option>
                            <option value="3">Eletrodomesticos</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
            

            <div class="container">
                <br />
                <br />
                <div class="row">
                    @{
                        foreach (var item in Model)
                        {

                            <div class="col-4" style="padding:15px">
                                <strong>Nome:</strong> @item.NomeProduto
                                <br />
                                Preço: @item.Preco
                                <br />
                                Descrição: @item.Descricao
                            </div>
                            <hr />

                        }
                    }

                </div>


            </div>
        </div>
